html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="css/style.css")

  body.container
    h1 Xbox Price Checker

    each val in checkers
      a(href=val.linkUri ? val.linkUri : val.uri target='_blank')
        div.media(class=val.inStock ? 'in-stock' : 'out-of-stock')
          img.mr-3(src=val.image height=150 width=150)
          .media-body
            h2.mt-0=val.name
            if val.inStock
              h3 In Stock!
            else 
              h3 Out of stock
            p Updated at 
              strong= val.updated
      
      br